@{
    ViewBag.Title = "User Guide";
}
<h2>User Guide</h2>
<h3>Introduction</h3>
<p>
    This user guide will show you how to use the website. This guide is split into several sections based on<br />
    each of the main pages on the website.
</p>
<h3>Home Page</h3>
<p>
    This guide will begin by showing you how to use the homepage. The homepage will likely be the first page<br />
    you access on the website, so it makes sense to start here.
</p>
<p>The homepage is split into three main sections.</p>
<p>
    Firstly, there is the navigation is at the very top of the website. This navigation is identical across all<br />
    pages. You have the People Cook logo which also acts as a link back to the homepage, so no matter where<br />
    you are in the website you can always return to the homepage. Next is an explicit home button which also<br />
    acts as a link back to the homepage, either button will work for this purpose.
</p>
<p>
    Next, there is the ‘About’ button which links to the About page, more information on that is covered in the<br />
    About Page section of this guide.
</p>
<p>
    Then, there is the ‘Contact’ button which links to the Contact page, again, more information can be found<br />
    about the contact page in the Contact Page section of this guide.
</p>
<p>
    Then there is the recipes page button. This link does link to the recipes index page, however, it is important<br />
    to note that access to this page requires you to login. If you are not logged in and you press this button<br />
    you will automatically be redirected to the login page. If you do not currently have an account with<br />
    People Cook, you may create one through the register page.
</p>
<p>
    You may access the registration page through the ‘register button’ on the navigation. The button next to<br />
    it, the ‘login’ button will take you directly to the login page.
</p>
<p>
    At the centre of the homepage. Here there is a heading which shows the name of the<br />
    page. Then there is a brief description of what this website is. A more detailed description can be<br />
    found in the about page. Clicking ‘learn more’ will take you directly to the about page.
</p>
<p>The bottom of the homepage is split into three smaller sections.</p>
<p>
    The first section gives a small piece of information about what the website is, and provides a button<br />
    that will take directly to the registration page.
</p>
<p>
    Alternatively, if you are already logged in then you may refer to the second paragraph at the bottom<br />
    of the homepage which has a button that will take you directly to the login page.
</p>
<p>
    This final paragraph at the bottom of the homepage, gives you information about where the website is<br />
    hosted for more details about how the website was constructed. Pressing the button provided will take<br />
    you to the hosting provider’s website. However, please be aware that this is an extrarenal link so we<br />
    cannot claim responsibility for information found on that website.
</p>
<h3>About Page</h3>
<p>
    The about page shows useful information about what the website is and gives a small piece of information<br />
    about who made it and how it was constructed. Be sure to read it, if you have the time.
</p>
<h3>Contact Page</h3>
<p>
    The contact page shows the basic contact details for any queries you might have about the website. This<br />
    information includes a postal address, phone number and email address.
</p>
<h3>Recipe Page</h3>
<p>
    The recipe page is where a large portion of the more complex functionality of the website can be found.<br />
    The recipe section of the website is split into several categories, as this guide will now demonstrate.
</p>
<p>
    In order to access the Recipe page you will need to login. If you do not already have an account you will<br />
    need to register a new one.
</p>
<h3>Index</h3>
<p>
    Firstly, there is the recipe index page. This will likely be the first access point if you wish to search<br />
    for recipes on the website.
</p>
<p>This is the search feature. By typing in an ingredient that you want to cook with, you can find recipes.</p>
<p>
    By checking the vegan mode checkbox before you press the search button, all non-vegan friendly recipes will<br />
    be filtered out.
</p>
<p>
    By checking the vegetarian mode checkbox before you search, you can filter out all non-vegetarian<br />
    friendly food.
</p>
<p>
    By checking the pescatarian mode checkbox before you search, you can filter out all non-pescatarian<br />
    friendly food.
</p>
<p>You can create a new recipe by clicking on the create new recipe link.</p>
<p>Clicking on the edit link will direct you to the edit recipe page.</p>
<p>Clicking on the details link will redirect you to the detailed recipe page.</p>
<p>By clicking on the delete link you can delete a recipe.</p>
<h3>Edit</h3>
<p>
    The edit page allows you to edit pre-existing recipes.
    You may edit a recipe by altering any of the piece of text found in any of the textboxes and then<br />
    pressing save.
</p>
<h3>Details</h3>
<p>The details page allows you to access the recipe and view it in an organised manner.</p>
<h3>Create</h3>
<p>
    The create new recipe page allows you to create a new recipe.
    You may create a new recipe by filling out the details in the textboxes provided. If you wish to create<br />
    a recipe with fewer then ten ingredients or fewer then ten steps, that is fine, just keep the textbox blank<br />
    and the website will respond accordingly.
</p>
<h3>Login</h3>
<p>
    This section of the guide will show how you are able to login to the website. Logging into the website<br />
    is required to access the Recipe page. If you do not already have an account, you can create one by using<br />
    the registration page.
</p>
<p>
    In order to login you will first need an account. If you do not already have an account, you will need<br />
    to register a new one. For the login you will need the email address and password for your account. If<br />
    you enter these details correctly, you will then be logged into the website.
</p>
<h3>Register</h3>
<p>This part of the guide will show you how to register an account.</p>
<p>
    In order to create an account you will need two things:<br />
    1) An email address<br />
    2) A password
</p>
<p>You will need to confirm your password in order to register a new account.</p>
<p>
    Once you have imputed the appropriate details correctly and press register, you will have a new account<br />
    that you can use to gain access to the recipes page.
</p>

