@{
    ViewBag.Title = "Privacy Policy";
}
<h2>Privacy Policy</h2>
<h3>1. PURPOSE OF Recipe Web site Privacy Policy:</h3>
<p>The purpose of this policy statement is to outline the Privacy processes in relation this web site.</p>
<h3>2. ORGANISATIONAL DEFINITION OF this web site Privacy Policy:</h3>
<h4>General</h4>
<p>
    This website will not store or capture personal data (e.g. name, email address) without the<br />
    prior knowledge and consent of users.
</p>
<p>
    This website will make sure all personal data that is supplied is held as securely as possible, in<br />
    accordance with the Data Protection Act 1998.
</p>
<h4>Data</h4>
<p>
    This website does not sell or otherwise transfer any personal data to commercial companies or other<br />
    organisations.
</p>
<h4>Disclaimer</h4>
<p>
    This privacy statement applies to the web pages centrally maintained by this website. Other pages<br />
    that are linked to from this website may have a separate privacy policy.
</p>
<h3>3. THE SCOPE OF THE POLICY</h3>
<p>
    This privacy statement applies to the web pages centrally maintained by this website. Other pages that are<br />
    linked to from this website may have a separate privacy policy.
</p>
<h3>4. RESPONSIBILITIES FOR DELIVERY</h3>
<p>
    Responsibilities of the owner of the website to review the policy and to ensure the policy is available on<br />
    the website.
</p>
<h3>5. IMPLEMENTATION STRATEGY</h3>
<h4>5.1 Support and Advice</h4>
<p>Contact the owner.</p>
<h4>5.2 Procedures</h4>
<p>Related policy “DATA PROTECTION AND DATA DISPOSAL POLICY”</p>
<h4>5.3 Communication Strategy</h4>
<p>The policy will be posted on the website.</p>
<p>A link to the privacy policy will be made from the navigation of The People Cook website.</p>
<h3>6. EVALUATION</h3>
<p>
    The policy will be reviewed at the review date to ensure it meets with current legislation. The policy may<br />
    be reviewed in light of changing legislation.
</p>
