@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<p>Welcome to PeopleCook. This website was created as a tool to empower <br />people who want to find delicious food but don't want to buy expensive ingredients.</p>
<p>The main idea is that instead of searching for recipes by title, <br />you can search based on what ingredients you have available to you.</p>
<p>Want to know what you can make with potatoes, milk and onion? <br />Cheese, strawberries and chicken? Then this is the place to be.</p>
<p>
    This website includes all sorts of recipes from curry to Turkish <br />yogurt soup. This website was initially developed as partial fullfillment for<br />
    the Glyndwr University BSc in Computing. However, it has since continued<br /> to see development.
</p>
<p>This website was developed by Hazel Lessiter in MVC (Model View Controller).</p>
<img src="~/Poster6.jpg" alt="A jpeg version of the original poster" height="410">@* Image here of poster*@
<h3>Development Changelog</h3>
<p>
    This website was developed in MVC. However, it started out life as a basic <br />HTML and CSS prototype. Development began in the December of 2017 with the prototype<br />
    completed on the 15th of Feburary 2018.
</p>
<h3>15th Feburary 2018</h3>
@* Image here of wireframe*@
<p>
    - Completed HTML and CSS prototype<br />
    - Completed prototype testing<br />
    - Website transferred into ASP.NET<br />
    - Database implemented<br />
    - Login implemented
</p>
<h3>24th Feburary 2018</h3>
@* Image here of prototype*@
<p>
    - Fixed bug where browser could not find CSS file<br />
    - Fixed bug where login was not correctly redirecting the user<br />
    - Added user table
</p>
<h3>23rd March 2018</h3>
@* Image here of user profile stage*@
<p>
    - Added user profile<br />
    - Added Entity Framework model<br />
    - Fixed bug where page was not correctly inheriting<br />
    - Completed user profile testing
</p>
<h3>24th March 2018</h3>
@* Image here of ERD*@
<p>
    - Website transferred to MVC<br />
    - Authentication added<br />
    - Added model
</p>
<h3>7th April 2018</h3>
@* Image here of database schema*@
<p>
    - Fixed bug where database attributes were stored in the incorrect format
</p>
<h3>8th April 2018</h3>
<p>
    - If user is not authenticated user will now be redirected to the login <br />
    page if they attempt to access the recipe page<br />
    - User can now add new recipe<br />
    - Removed Lorum Ipsum<br />
    - Fixed bug where model attribute was in the incorerct format<br />
    - Added recipe page to the navigation
</p>
<h3>8th April 2018</h3>
@*Image here of purple MVC website*@
<p>
    - Tidied up CSS<br />
    - Tidied up C# code<br />
    - Added search function<br />
    - Fixed bug where search function retruned the query and not the list, resulting <br />
    in crash
</p>
<h3>14th April 2018</h3>
@*Image here of search function*@
<p>
    - Completed basic search function
</p>
<h3>15th April 2018</h3>
@*Image here of search function*@
<p>
    - Completed add new recipe validation <br />
    - Website no longer refreshes the page without telling the user what's wrong when there is a <br />
    validation error<br />
    - Added changelog to the about page<br />
    - Added image to about page<br />
    - Added background image
</p>
<h3>16th April 2018</h3>
<p>
    - Added vegan mode<br />
    - Added vegetarian mode <br />
    - Addded pescatarian mode
</p>
<h3>2nd December 2018</h3>
<p>
    - Fixed issue where ingredients was spelt ingrediants
</p>