@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    17 Clifton Road<br />
    Colwyn Bay, LL29 9DY<br />
    07763438395
</address>
<address>
    <strong>Email:</strong>   <a href="hazellessiter0@gmail.com">hazellessiter0@gmail.com</a>
</address>
<img src="~/Cake3.jpg" alt="A small cake" height="410">