@@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Home</h1>
    <p class="lead">The People Cook is a website that aims to teach people to cook by providing a resource for them to find recipes based on what ingredients they currently have available.</p>
    <p><a href="/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Greetings</h2>
        <p>
            People Cook gives you access to a large database of recipes that empower you to cook. You may also register an account to create your own recipes.
        </p>
        <p><a class="btn btn-default" href="/Account/Register">Register here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Login</h2>
        <p>If you're already a member, you can login using the link</p>
        <p><a class="btn btn-default" href="/Account/Login">Login &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>This website uses SOMEE.COM for more information click the link below. (Please be aware that it's an external link and we claim no responsibility for information portrayed on other websites. This is not an affiliate link and we are not sponsored.)</p>
        <p><a class="btn btn-default" href="https://somee.com/HostingPlans.aspx">SOMEE.COM &raquo;</a></p>
    </div>
</div>